@layer base, theme, utilities;

@import "tailwindcss";
@import "highlight.js/styles/atom-one-dark.css";
@import "./theme.css" layer(theme);
@import "./safelist.css";

@source inline("opacity-{0,10,20,30,40,50,60,70,80,90,100}");
@source inline("justify-{start,end,center}");
@source inline("items-{start,end,center}");
@source inline("w-[100cqw]");
@source inline("text-{2..9}xl");
@source inline("col-span-{1..12}");
@source inline("col-[span_{1..12}]");
@source inline("[&>*]:text-white");
@source inline("[&>*]:text-black");

@layer base {

    @theme {
        --colspan-1: span 1;
        --colspan-2: span 2;
        --colspan-3: span 3;
        --colspan-4: span 4;
        --colspan-5: span 5;
        --colspan-6: span 6;
        --colspan-7: span 7;
        --colspan-8: span 8;
        --colspan-9: span 9;
        --colspan-10: span 10;
        --colspan-11: span 11;
        --colspan-12: span 12;
    
        --text-h1: 3.815rem;
        --text-h2: 3.052rem;
        --text-h3: 2.441rem;
        --text-h4: 1.953rem;
        --text-h5: 1.563rem;
        --text-h6: 1.25rem;
    
        /* TODO: investigate why these aren't coming through to the frontend. */
        --text-base: 1rem;
        --text-sm: 0.875rem;
        --text-xs: 0.75rem;
        --text-2xl: 1.5rem;
        --text-3xl: 1.875rem;
        --text-4xl: 2.25rem;
        --text-5xl: 3rem;
        --text-6xl: 3.75rem;
        --text-7xl: 4.5rem;
        --text-8xl: 6rem;
        --text-9xl: 8rem;
    
        --width-content: 40rem;
        --width-wide: 60rem;
    }
    
    h1 {
        @apply text-h1 leading-[1.6] font-bold;
    }
    
    h2 {
        @apply text-h2 leading-[1.6] font-bold;
    }
    
    h3 {
        @apply text-h3 leading-[1.6] font-bold;
    }
    
    h4 {
        @apply text-h4 leading-[1.6] font-bold;
    }
    
    h5 {
        @apply text-h5 leading-[1.6] font-bold;
    }
    
    h6 {
        @apply text-h6 leading-[1.6] font-bold;
    }
    
    p {
        @apply text-base font-light;
    }
    
    .modal {
        display: none;
    
        &.is-open {
            display: block;
        }
    }
    
    .code-block {
        @apply p-4 overflow-scroll;
    }

}
