@layer theme {
    @theme static {
        --color-primary: #f99d2a;
        --color-secondary: #ae6e1d;
        --color-carona: #f99d2a;
        --color-hamtaro-brown: #ae6e1d;
        --color-inkwell: #1e1e1e;
        --color-torchlight: #ffca8a;
        --color-blanched-almond: #ffebd2;
        --color-tuscan: #ffd7a6;
        --color-copious-caramel: #d98823;
        --color-peach-beach: #ffd0a2;
        --color-bisque: #ffe3c7;
        --color-chocolate-castle: #462805;
        --color-ash: #c2bba6;
        --color-black-mana: #848484;
        --color-vulcanised: #434343;
        --color-inkwell-inception: #1e1e1e;
    }
    
    
    .section1 {
        .cover-block {
            .cover-image {
                @apply bg-no-repeat bg-cover bg-center;
            }
    
            .cover-content {
                h1 {
                    @apply leading-[1];
                    font-size: clamp(2rem, 5vw, 4rem);
                }
            }
        }
    }
}